<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net45" />
  <package id="Accord.Video" version="3.8.0" targetFramework="net45" />
  <package id="Accord.Video.FFMPEG" version="3.8.0" targetFramework="net45" />
  <package id="Accord.Video.Kinect" version="3.8.0" targetFramework="net45" />
  <package id="Accord.Video.Ximea" version="3.8.0" targetFramework="net45" />
  <package id="AForge" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Controls" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Genetic" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Imaging" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Neuro" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Video.DirectShow" version="2.2.5" targetFramework="net45" />
  <package id="AltoControls" version="1.0.1" targetFramework="net45" />
  <package id="ControlzEx" version="4.4.0" targetFramework="net452" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net452" />
  <package id="MahApps.Metro" version="2.4.6" targetFramework="net452" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net452" />
  <package id="SQLite" version="3.13.0" targetFramework="net452" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.114.0" targetFramework="net452" />
  <package id="System.Data.SQLite" version="1.0.114.4" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.114.3" targetFramework="net452" />
  <package id="System.Data.SQLite.EF6" version="1.0.114.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Linq" version="1.0.114.0" targetFramework="net452" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net452" />
  <package id="ToggleSwitch" version="1.1.2" targetFramework="net452" />
</packages>